<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.jinju.mapper.LoginMapper">
	<select id="goLogin" parameterType="com.ex.jinju.dto.req.LoginDTO" resultType="com.ex.jinju.dto.res.UserInfoDTO">
		SELECT ID, PASSWORD, NAME, EMAIL FROM USER_INFO
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
</mapper>